.about-us {
  @include container;
  min-height: 353px;
  background-color: $dark-blue-grey;
  background-image: url("../img/about-mobile@1x.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.about-us__wrapper {
  @include container-inside;
  padding-left: 24px;
  padding-top: 30px;
}

.about-us__title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  color: $mango;
}

.about-us__description {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  width: 210px;
  color: $white;
  line-height: 1.38;
}

.about-us__offer {
  margin: 0;
  padding: 0;
  width: 195px;
  font-weight: $fw-bold;
  color: $white;
  line-height: 1.38;
}

.about-us__show-all {
  display: none;
}

@media (min-width: $tablet-width) {
  .about-us {
    @include container-tablet;
    min-height: 684px;
    background-image: url("../img/about-tablet@1x.png");
    background-position: 98% 35%;
  }

  .about-us__wrapper {
    @include container-inside-tablet;
    padding-left: 35px;
    padding-top: 38px;
  }

  .about-us__title {
    margin-bottom: 41px;
    font-size: 45px;
    line-height: 1;
  }

  .about-us__description {
    margin-bottom: 35px;
    font-size: 28px;
    width: 300px;
    line-height: 1.18;
  }

  .about-us__offer {
    margin-bottom: 52px;
    width: 257px;
    font-size: 21px;
    line-height: 1.19;
  }

  .about-us__show-all {
    display: block;
    padding-top: 29px;
    padding-left: 33px;
    width: 274px;
    min-height: 81px;
    font-size: 24px;
    line-height: 1;
    font-weight: $fw-bold;
    color: $dark-slate-blue;
    background-color: $light-gold;
    border-radius: 20px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    @include container-desktop;
    min-height: 873px;
    background-image: url("../img/about-desktop@1x.png");
    background-position: 93% 100%;
  }

  .about-us__wrapper {
    @include container-inside-desktop;
    padding-left: 70px;
    padding-top: 250px;
  }

  .about-us__title {
    margin-bottom: 60px;
  }

  .about-us__description {
    margin-bottom: 40px;
    width: 625px;
  }

  .about-us__offer {
    margin-bottom: 86px;
    width: 420px;
  }
}
