.about-us {
  background-color: $dark-blue-grey;
}

.about-us__wrapper {
  @include container;
  position: relative;
  padding-top: 30px;
  min-height: 323px;
  z-index: 1;

  &::after {
    content: url("../img/about-mobile@1x.png");
    position: absolute;
    top: 0;
    left: 19px;
    z-index: -1;
  }
}

.about-us__title {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  padding-left: 24px;
  color: $mango;
}

.about-us__description {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  padding-left: 24px;
  width: 240px;
  color: $white;
  line-height: 1.38;
}

.about-us__offer {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  width: 220px;
  font-weight: $fw-bold;
  color: $white;
  line-height: 1.38;
}

.about-us__show-all {
  display: none;
}

@media (min-width: $tablet-width) {
  .about-us__wrapper {
    @include container-tablet;
    padding-left: 50px;
    padding-top: 133px;
    min-height: 674px;

    &::after {
      display: none;
    }
  }

  .about-us__title {
    margin-bottom: 41px;
    font-size: 45px;
    line-height: 1;
  }

  .about-us__description {
    margin-bottom: 35px;
    font-size: 28px;
    width: 310px;
    line-height: 1.18;
  }

  .about-us__offer {
    margin-bottom: 52px;
    width: 300px;
    font-size: 21px;
    line-height: 1.19;
  }

  .about-us__show-all {
    display: block;
    margin-left: 25px;
    padding-top: 29px;
    padding-left: 33px;
    width: 274px;
    min-height: 81px;
    font-size: 24px;
    line-height: 1;
    font-weight: $fw-bold;
    color: $dark-slate-blue;
    background-color: $light-gold;
    border-radius: 20px;
  }
}

@media (min-width: $desktop-width) {
  .about-us__wrapper {
    @include container-desktop;
    min-height: 725px;
    padding-left: 106px;
    padding-top: 158px;
    &::after {
      display: block;
      content: url("../img/about-desktop@1x.png");
      top: 115px;
      left: 750px;
    }
  }

  .about-us__title {
    margin-bottom: 59px;
  }

  .about-us__description {
    margin-bottom: 40px;
    width: 640px;
  }

  .about-us__offer {
    margin-bottom: 86px;
    width: 415px;
  }
}
