.authorization {
  position: relative;
  background-color: $dark-blue-grey;

  &::after {
    content: "";
    position: absolute;
    bottom: -29px;
    left: 0;
    width: 100%;
    height: 29px;
    background-color: $dark-blue-grey;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 1;
  }
}

.authorization__wrapper-top {
  @include container;
  min-height: 504px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 29px;
    background-color: $pale-grey;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

.authorization__title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 99px;
  font-size: 24px;
  line-height: 1;
  font-weight: $fw-bold;
  text-align: center;
  color: $mango;
}

.authorization__description {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 190px;
  color: $white;
  line-height: 1.38;
  text-align: center;
}

.authorization__login {
  color: $light-gold;
  text-decoration: underline;
}

.authorization__form {
  position: relative;
  margin-bottom: 29px;
}

.authorization__wrapper {
  margin: 0;
}

.authorization__user-login {
  width: 270px;
  padding: 23px;
  border: 0;
  background-color: $white;
  border-radius: 10px;

  &::placeholder {
    font-size: 18px;
    font-weight: $fw-bold;
    opacity: 0.3;
    line-height: 1;
  }
}

.authorization__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 61px;
  background-color: $light-gold;
  border: 0;
  border-radius: 10px;

  span {
    display: none;
  }

  &::after {
    content: url("../img/triangle-arrow-right.svg");
    position: absolute;
    top: 25px;
    right: 23px;
    width: 10px;
    height: 14px;
  }
}

.authorization__questions {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 31px;
  width: 215px;
  line-height: 1.38;
  color: $white;
  text-align: center;
}

.authorization__tel {
  position: relative;
  display: block;
  margin-bottom: 25px;
  padding-left: 61px;
  font-weight: $fw-bold;
  color: $light-gold;

  &::before {
    content: url("../img/contacts-phone.svg");
    position: absolute;
    top: 0;
    left: 14px;
    width: 18px;
    height: 18px;
    z-index: 11;
  }

  &::after {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $dark-blue-grey-two;
    z-index: 10;
  }
}


.authorization__mail {
  position: relative;
  display: block;
  padding-left: 61px;
  font-weight: $fw-bold;
  color: $light-gold;
  text-transform: uppercase;

  &::before {
    content: url("../img/contacts-mail.svg");
    position: absolute;
    top: 2px;
    left: 14px;
    width: 18px;
    height: 18px;
    z-index: 11;
  }

  &::after {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $dark-blue-grey-two;
    z-index: 10;
  }
}

@media (min-width: $tablet-width) {
  .authorization {
    &::after {
      bottom: -78px;
      height: 79px;
      border-bottom-right-radius: 80px;
      border-bottom-left-radius: 80px;
    }
  }

  .authorization__wrapper-top {
    @include container-tablet;
    min-height: 714px;
  }

  .authorization__title {
    margin-bottom: 57px;
    padding-top: 153px;
    font-size: 45px;
  }

  .authorization__description {
    margin-bottom: 67px;
    width: 580px;
    font-size: 28px;
    line-height: 1.18;
  }

  .authorization__login {
    position: relative;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: 32px;
      left: 0;
      border: 0.5px solid $light-gold;
      width: 165px;
    }
  }

  .authorization__form {
    margin: 0 auto;
    margin-bottom: 56px;
    width: 618px;
  }

  .authorization__user-login {
    width: 536px;
    min-height: 81px;
    padding-top: 28px;
    padding-left: 32px;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    &::placeholder {
      font-size: 24px;
    }
  }

  .authorization__button {
    width: 82px;
    min-height: 81px;
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    &::after {
      top: 33px;
      right: 37px;
    }
  }

  .authorization__questions {
    margin-bottom: 60px;
    width: 602px;
    line-height: 1.18;
    font-size: 28px;
  }

  .authorization__tel {
    margin-bottom: 33px;
    padding-left: 125px;
    font-size: 28px;

    &::before {
      left: 55px;
      width: 27px;
      height: 27px;
    }

    &::after {
      top: -20px;
      left: 34px;
      width: 67px;
      height: 67px;
    }
  }

  .authorization__mail {
    padding-left: 125px;
    font-size: 28px;

    &::before {
      top: 0;
      left: 55px;
      width: 27px;
      height: 27px;
    }

    &::after {
      top: -20px;
      left: 34px;
      width: 67px;
      height: 67px;
    }
  }
}

@media (min-width: $desktop-width) {
  .authorization {
    &::after {
      bottom: -53px;
      height: 54px;
    }
  }

  .authorization__wrapper-top {
    @include container-desktop;
    min-height: 751px;
  }

  .authorization__title {
    padding-top: 156px;
  }

  .authorization__description {
    margin-bottom: 61px;
  }

  .authorization__form {
    margin-bottom: 66px;
    width: 1175px;
  }

  .authorization__user-login {
    width: 850px;
  }

  .authorization__button {
    width: 325px;

    span {
      display: block;
      position: relative;
      left: -59px;
      font-size: 24px;
      font-weight: $fw-bold;
      letter-spacing: -1px;
      color: $dark-slate-blue;
    }
  }

  .authorization__questions {
    margin-bottom: 73px;
  }

  .authorization__wrapper-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 875px;
  }

  .authorization__tel {
    padding-left: 120px;

    &::before {
      left: 29px;
      width: 36px;
      height: 36px;
    }

    &::after {
      top: -28px;
      left: 2px;
      width: 90px;
      height: 90px;
    }
  }

  .authorization__mail {
    padding-right: 5px;

    &::before {
      top: 4px;
      left: 32px;
      width: 36px;
      height: 36px;
    }

    &::after {
      top: -28px;
      left: 4px;
      width: 90px;
      height: 90px;
    }
  }
}
