.authorization {
  @include container;
  min-height: 504px;
  background-color: $dark-blue-grey;
}

.authorization__wrapper-top {
  @include container-inside;
}

.authorization__title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 70px;
  font-size: 24px;
  line-height: 1;
  font-weight: $fw-bold;
  text-align: center;
  color: $mango;
}

.authorization__description {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 190px;
  color: $white;
  line-height: 1.38;
  text-align: center;
}

.authorization__login {
  color: $light-gold;
  text-decoration: underline;
}

.authorization__form {
  position: relative;
  margin-bottom: 29px;
}

.authorization__wrapper {
  margin: 0;
}

.authorization__user-login {
  width: 270px;
  padding: 23px;
  border: 0;
  background-color: $white;
  border-radius: 10px;

  &::placeholder {
    font-size: 18px;
    font-weight: $fw-bold;
    opacity: 0.3;
    line-height: 1;
  }
}

.authorization__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 61px;
  background-color: $light-gold;
  border: 0;
  border-radius: 10px;

  span {
    display: none;
  }
}

.authorization__questions {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 31px;
  width: 215px;
  line-height: 1.38;
  color: $white;
  text-align: center;
}

.authorization__tel {
  display: block;
  margin-bottom: 25px;
  padding-left: 61px;
  font-weight: $fw-bold;
  color: $light-gold;
}

.authorization__mail {
  display: block;
  padding-left: 61px;
  font-weight: $fw-bold;
  color: $light-gold;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .authorization {
    @include container-tablet;
    min-height: 714px;
  }

  .authorization__wrapper-top {
    @include container-inside-tablet;
  }

  .authorization__title {
    margin-bottom: 57px;
    padding-top: 71px;
    font-size: 45px;
  }

  .authorization__description {
    margin-bottom: 67px;
    width: 580px;
    font-size: 28px;
    line-height: 1.18;
  }

  .authorization__login {
    position: relative;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: 32px;
      left: 0;
      border: 0.5px solid $light-gold;
      width: 165px;
    }
  }

  .authorization__form {
    margin: 0 auto;
    margin-bottom: 56px;
    width: 618px;
  }

  .authorization__user-login {
    width: 536px;
    min-height: 81px;
    padding-top: 28px;
    padding-left: 32px;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    &::placeholder {
      font-size: 24px;
    }
  }

  .authorization__button {
    width: 82px;
    min-height: 81px;
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .authorization__questions {
    margin-bottom: 60px;
    width: 602px;
    line-height: 1.18;
    font-size: 28px;
  }

  .authorization__tel {
    margin-bottom: 33px;
    padding-left: 125px;
    font-size: 28px;
  }

  .authorization__mail {
    padding-left: 125px;
    font-size: 28px;
  }
}

@media (min-width: $desktop-width) {
  .authorization {
    @include container-desktop;
    min-height: 751px;
  }

  .authorization__wrapper-top {
    @include container-inside-desktop;
  }

  .authorization__title {
    padding-top: 104px;
  }

  .authorization__description {
    margin-bottom: 60px;
  }

  .authorization__form {
    margin-bottom: 65px;
    width: 1175px;
  }

  .authorization__user-login {
    width: 850px;
  }

  .authorization__button {
    width: 325px;
  }

  .authorization__questions {
    margin-bottom: 74px;
  }

  .authorization__wrapper-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    width: 875px;
  }
}
