.business-rates {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  padding-top: 15px;
  width: 320px;
  min-height: 481px;
  background-color: $pale-grey;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  &__wrapper {
    margin: 0 auto;
    width: 270px;
    min-height: 443px;
    border-radius: 20px;
    background-color: $white;
  }

  &__title {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: $mango;
  }

  &__list {
    margin: 0;
    padding: 0;
    margin-left: 25px;
    width: 161px;
    list-style: none;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__text {
    margin: 0;
    line-height: 1.38;
  }

  &__button-wrapper {
    margin: 0;
    width: 270px;
    min-height: 59px;
    background-color: $pale-grey-five;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &__button {
    width: 270px;
    min-height: 59px;
    background-color: transparent;
    border: none;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: $dark-slate-blue;
  }
}
