.continent {
  margin-left: 25px;
  margin-bottom: 20px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 5px;
  }

  &__link {
    font-weight: bold;
    line-height: 1.38;
    color: $dark-blue-grey;
    text-transform: uppercase;
    opacity: 0.3;

    &--active {
      opacity: 1;
    }
  }
}
