.countries {
  margin: 0 auto;
  background-color: $pale-grey;
  width: 320px;
  min-height: 1015px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;

  &__wrapper {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    padding-top: 95px;
    width: 270px;
  }

  &__title {
    margin: 0;
    padding: 0;
    margin-left: 26px;
    margin-bottom: 21px;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    color: $mango;
  }

  &__desciption {
    margin: 0;
    padding: 0;
    margin-bottom: 61px;
    width: 195px;
    margin-left: 25px;
    line-height: 1.38;
  }

}
