.countries-info--for-js {
  display: none;
}

.countries-info--without-js {
  position: relative;
  top: 10px;
  left: 2px;
  margin-bottom: 40px;
}

// .countries-info {
//   position: absolute;
//   top: 215px;
//   left: 2px;
//   margin-bottom: 30px;
//   width: 220px;
// }

.countries-info__list {
  @include list-reset;
  display: none;

  &--active {
    display: block;
  }
}

.countries-info__link {
  color: inherit;
  line-height: 1.38;
}

@media (min-width: $tablet-width) {
  .countries-info--without-js {
    position: relative;
    top: 3px;
    left: 71px;
    margin-bottom: 40px;
    width: 255px;
  }

  // .countries-info {
  //   top: 3px;
  //   left: 468px;
  //   margin-bottom: 0;
  // }

  .countries-info__link {
    line-height: 1.5;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .countries-info--for-js,
  .countries-info {
    display: block;
    position: relative;
    top: 15px;
    left: 22px;
    margin-bottom: 0;
    width: 240px;
    min-height: 300px;
  }

  .countries-info--without-js {
    display: none;
  }

  .countries-info__list {
    @include list-reset;
    display: block;
  }
}
