.details-steps {
  @include container;
  position: relative;
  padding-left: 20px;
  margin-top: 10px;
  background-color: $white;
  border-radius: 10px;
  width: 270px;
}

.details-steps--1 {
  padding-bottom: 22px;
}

.details-steps--2 {
  padding-bottom: 0;
}

.details-steps--3 {
  padding-bottom: 2px;
}

.details-steps__title {
  padding-left: 4px;
  margin: 0;
  padding-top: 22px;
  color: $dark-slate-blue;
  font-size: 20px;
  font-weight: $fw-bold;
  line-height: 1;
}

.details-steps__title-top {
  display: block;
  min-width: 70px;
}

.details-steps__title-bottom {
  display: block;
  min-width: 170px;
}

.details-steps__description {
  padding-left: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.38;
}

.details-steps__list {
  display: none;
}

.details-steps__button {
  display: block;
  padding-top: 12px;
  width: 230px;
}

.details-steps__button--back {
  display: block;
  margin-bottom: 0;
  padding-top: 7px;
  margin-top: 10px;
}

@media (min-width: $tablet-width) {
  .details-steps {
    @include container-tablet;
    margin-bottom: 40px;
    padding-left: 44px;
    border-radius: 30px;
    width: 618px;
    padding-bottom: 28px;
  }

  .details-steps--1 {
    padding-bottom: 55px;
  }

  .details-steps--2 {
    padding-bottom: 24px;
    margin-bottom: 49px;
  }

  .details-steps--3 {
    padding-bottom: 20px;
    margin-bottom: 75px;
  }

  .details-steps--2 .details-steps__description {
    width: 406px;
  }

  .details-steps--3 .details-steps__title {
    padding-top: 44px;
  }

  .details-steps--3 .details-steps__description {
    margin-bottom: 80px;
  }

  .details-steps__title {
    padding-left: 0;
    padding-top: 45px;
    margin-bottom: 34px;
    font-size: 36px;
    line-height: 1;
  }

  .details-steps__description {
    padding: 0;
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 1.2;
    width: 505px;
  }

  .details-steps__term {
    margin-bottom: 45px;
  }

  .details-steps__button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 533px;
  }

  .details-steps__button {
    padding: 28px 70px 24px 26px;
    font-size: 24px;
    text-transform: none;
    width: 285px;
    min-height: 82px;
    border-radius: 20px;
  }

  .details-steps__button--next {
    position: relative;

    &::after {
      content: url("../img/triangle-arrow-right.svg");
      position: absolute;
      top: 29px;
      right: 36px;
      width: 10px;
      height: 14px;
    }

    &:active::after {
      opacity: 0.3;
    }
  }

  .details-steps__button--back {
    position: relative;
    width: 200px;
    padding-top: 0;
    margin-top: 30px;
    padding-right: 0;
    padding-left: 50px;

    &::before {
      content: url("../img/triangle-arrow-left.svg");
      position: absolute;
      top: 0;
      left: 20px;
      width: 10px;
      height: 14px;
    }

    &:active::before {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .details-steps {
    @include container-desktop;
    margin-bottom: 44px;
    padding-left: 159px;
    padding-bottom: 61px;
    border-radius: 60px;
    width: 1320px;
  }

  .details-steps--2,
  .details-steps--3 {
    padding-bottom: 34px;
    margin-bottom: 45px;
  }

  .details-steps--3 .details-steps__title {
    padding-top: 94px;
  }

  .details-steps--3 {
    margin-bottom: 60px;
  }

  .details-steps__title {
    display: flex;
    padding-top: 97px;
    margin-bottom: 35px;
  }

  .details-steps__title-top {
    margin-right: 10px;
  }

  .details-steps__description {
    margin-bottom: 85px;
    width: 550px;
  }

  .details-steps__list {
    @include list-reset;
    position: absolute;
    top: 110px;
    right: 205px;
    display: block;
  }

  .details-steps__item {
    position: relative;
    margin-bottom: 31px;
    font-size: 20px;
    text-transform: uppercase;
    opacity: 0.6;
    line-height: 0.69;
    letter-spacing: 2px;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: -44px;
      width: 6px;
      height: 5px;
      border-radius: 50%;
      background-color: $dark-slate-blue;
      opacity: 0.6;
    }

    &--active {
      opacity: 1;
    }

    &--active::before {
      opacity: 1;
    }
  }

  .details-steps__term {
    margin-bottom: 0;
  }

  .details-steps__button {
    margin-bottom: 42px;
  }

  .details-steps__button-wrapper {
    width: 999px;
  }
}
