.details {
  position: relative;
  background-color: $light-blue-grey-five;
  padding-bottom: 64px;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: $light-blue-grey-five;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.details__top-wrapper {
  @include container;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.details__title {
  margin: 0;
  padding-top: 7px;
}

.delails__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-right: 18px;
  padding-left: 5px;
  width: 70px;
  height: 10px;
}

.details__item {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: $steel-grey;
  opacity: 0.3;

  &--active {
    background-color: $dark-slate-blue;
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .details {
    &::before {
      top: -22px;
      height: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
    }
  }

  .details__top-wrapper {
    @include container-tablet;
    margin-bottom: 55px;
  }

  .details__title {
    padding-top: 27px;
    padding-left: 34px;
    font-size: 36px;
  }

  .delails__list {
    margin-top: 45px;
    margin-right: 15px;
    padding-right: 18px;
    width: 97px;
  }
}

@media (min-width: $desktop-width) {
  .details {
    &::before {
      top: -43px;
      height: 43px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
    }
  }

  .details__top-wrapper {
    @include container-desktop;
    margin-bottom: 55px;
  }

  .details__title {
    padding-top: 7px;
    padding-left: 70px;
  }

  .delails__list {
    display: none;
  }
}
