.filter-country {
  background-color: $pale-grey-four;
}

.filter-country__wrapper {
  @include container;
  min-height: 40px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 13px;
    background-color: $dark-two;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.filter-country__wrapper-header {
  display: flex;
  justify-content: space-between;
}

.filter-country__wrapper-pop-up {
  display: none;
  min-height: 680px;
}

.filter-country__title {
  margin: 0;
  padding-top: 29px;
  padding-left: 27px;
  padding-bottom: 15px;
  color: $dark-blue-grey;
  font-size: 16px;
  line-height: 1.38;
  text-transform: uppercase;

  span {
    display: none;
  }
}

.filter-country__continent {
  display: none;
}

.filter-country__button-pop-up {
  margin-top: 33px;
  width: 12px;
  height: 12px;

  span {
    display: none;
  }
}

.filter-country__button {
  padding-left: 63px;
  width: 270px;
  font-size: 15.5px;
}


@media (min-width: $tablet-width) {
  .filter-country__wrapper {
    @include container-tablet;
    min-height: 135px;

    &::after {
      width: 768px;
      height: 50px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  .filter-country__wrapper-header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }

  .filter-country__wrapper-pop-up {
    display: none;
    min-height: 680px;
  }

  .filter-country__title {
    display: none;
  }

  .filter-country__continent {
    display: block;
  }

  .filter-country__button-pop-up {
    margin-top: 63px;

    span {
      padding-right: 200px;
      display: block;
      line-height: 1.2;
      font-size: 20px;
      font-weight: $fw-bold;
      width: 130px;
    }
  }

  .filter-country__button {
    padding-left: 63px;
    width: 270px;
    font-size: 15.5px;
  }
}

@media (min-width: $desktop-width) {
  .filter-country {
    background-color: $pale-grey;
  }

  .filter-country__wrapper {
    @include container-desktop;
    min-height: 170px;

    &::after {
      width: 1440px;
      height: 55px;
    }
  }
}
