.filter-country {
  padding: 0;
  margin: 0;
  margin: 0 auto;
  width: 320px;
  background-color: $pale-grey-four;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  &__wrapper {
    margin: 0 auto;
    width: 270px;
  }

  &__wrapper-header {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper-pop-up {
    display: none;
    min-height: 680px;
  }

  &__title {
    margin: 0;
    padding-top: 16px;
    padding-left: 27px;
    padding-bottom: 15px;
    color: $dark-blue-grey;
    font-size: 16px;
    line-height: 1.38;
    text-transform: uppercase;
  }

  &__button-pop-up {
    margin-top: 20px;
    width: 12px;
    height: 12px;
  }

  &__button {
    padding-left: 63px;
    width: 270px;
    font-size: 15.5px;
  }
}
