.intro {
  position: relative;
  background-color: $dark-two;
}

.intro__decor {
  position: absolute;
  top: 80px;
  margin: 0 auto;
  background-image: url("../img/globe-back-desktop@1x.jpg");
  background-position: center center;
  background-size: cover;
  height: 321px;
  width: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/globe-back-desktop@2x.jpg");
    background-size: 100% auto;
  }
}

.intro__wrapper {
  @include container;
  position: relative;
  min-height: 606px;
  padding-top: 14px;
}

.intro__title {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 12px;
  width: 237px;
  font-size: 36px;
  font-weight: $fw-bold;
  line-height: 1.12;
  text-align: center;
  color: $white;
}

.intro__wrapper-bg-img {
  padding-left: 54px;
}

.intro__bg-img {
  width: 192px;
  height: 255px;
  background-image: url("../img/traveller-illustration-mobile@1x.png");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/traveller-illustration-mobile@2x.png");
    background-size: 192px auto;
  }
}

.intro__wrapper-contact {
  display: flex;
  margin-top: -20px;
  margin-bottom: 27px;
}

.intro__tel {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $mango;

  &::after {
    content: url("../img/topmenu-phone.svg");
    position: absolute;
    top: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
  }
}

.intro__mail {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $mango-two;

  &::after {
    content: url("../img/topmenu-mail.svg");
    position: absolute;
    top: 12px;
    left: 12px;
    width: 18px;
    height: 18px;
  }
}

.intro__button {
  padding-top: 12px;
  width: 189px;
  z-index: 1;
}

.intro__review {
  margin: 0;
  padding: 0;
  margin-left: 25px;
  width: 167px;
  color: $white;
  line-height: 1.38;
}

.intro__author {
  font-weight: bold;
  font-style: normal;
}

@media (min-width: 320px) and (min-resolution: 144dpi), (min-width: 320px) and (min-resolution: 1.5dppx) {
  .intro__decor {
    background-image: url("../img/globe-back-desktop@2x.jpg");
    background-size: 100% auto;
  }

  .intro__bg-img {
    background-image: url("../img/traveller-illustration-mobile@2x.png");
    background-size: 192px auto;
  }
}

@media (min-width: $tablet-width) {
  .intro__decor {
    position: absolute;
    top: 130px;
    height: 600px;
    width: 100%;
  }

  .intro__wrapper {
    @include container-tablet;
    padding-top: 26px;
    min-height: 723px;
  }

  .intro__title {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 60px;
    width: 395px;
    font-size: 60px;
    line-height: 1.17;
  }

  .intro__wrapper-bg-img {
    position: relative;
    padding-left: 0;
  }

  .intro__bg-img {
    position: absolute;
    top: -24px;
    right: 70px;
    width: 373px;
    height: 451px;
    background-image: url("../img/traveller-illustration-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-tablet@2x.png");
      background-size: 373px auto;
    }
  }

  .intro__wrapper-contact {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
  }

  .intro__tel {
    display: none;
  }

  .intro__mail {
    display: none;
  }

  .intro__button {
    display: none;
  }

  .intro__review {
    margin-left: 35px;
    line-height: 1.18;
    font-size: 28px;
  }

  .intro__text {
    margin-bottom: 47px;
    width: 259px;
  }

  .intro__author {
    display: block;
    width: 247px;
    font-size: 21px;
    line-height: 1.19;
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .intro__bg-img {
    background-image: url("../img/traveller-illustration-tablet@2x.png");
    background-size: 373px auto;
  }
}

@media (min-width: $desktop-width) {
  .intro__decor {
    position: absolute;
    top: -100px;
    height: 750px;
    z-index: 1;
  }

  .intro__wrapper {
    @include container-desktop;
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    min-height: 420px;
    z-index: 10;
  }

  .intro__title {
    margin: 0;
    margin-left: 67px;
    padding-top: 15px;
    width: 400px;
    text-align: left;
  }

  .intro__bg-img {
    position: absolute;
    top: -80px;
    right: -320px;
    width: 431px;
    height: 640px;
    background-image: url("../img/traveller-illustration-desktop@1x.png");
    z-index: -1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-desktop@2x.png");
      background-size: 431px auto;
    }
  }

  .intro__review {
    margin-right: 120px;
    margin-left: 0;
  }
}

@media (min-width: 1440px) and (min-resolution: 144dpi), (min-width: 1440px) and (min-resolution: 1.5dppx) {
  .intro__bg-img {
    background-image: url("../img/traveller-illustration-desktop@2x.png");
    background-size: 431px auto;
  }
}
