.level__title {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  text-transform: lowercase;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.2;

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -14px;
    width: 10px;
    height: 1px;
    background-color: $pale-grey;
  }
}

.level__number {
  margin: 0;
  margin-right: 1px;
  padding-top: 10px;
  padding-left: 7px;
  width: 45px;
  height: 45px;
  font-size: 24px;
  font-weight: $fw-bold;
  line-height: 0.75;
  color: $dark-slate-blue;
  border-radius: 50%;
  border: 3px solid $mango;
}

@media (min-width: $tablet-width) {
  .level__title {
    display: none;
  }

  .level__number {
    position: relative;
    margin: 0;
    padding-top: 7px;
    padding-left: 14px;
    width: 60px;
    height: 60px;
    line-height: 1;
    color: $dark-slate-blue;

    &::after {
      content: "level";
      position: absolute;
      top: 35px;
      left: 15px;
      opacity: 0.4;
      font-size: 14px;
      color: $black;
      font-weight: normal;
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 20px;
    //   left: 0;
    //   width: 100px;
    //   height: 10px;
    //   color: $black;
    //   opacity: 0.4;
    // }
  }
}

@media (min-width: $desktop-width) {
  .level {
    padding-top: 2px;
    margin-right: 8px;
  }

  .level__number {
    padding-top: 9px;
    padding-left: 13px;

    &::after {
      top: 36px;
      left: 14px;
    }
  }
}
