.level__title {
  margin: 0;
  margin-bottom: 8px;
  text-transform: lowercase;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.2;
}

.level__number {
  margin: 0;
  margin-right: 1px;
  padding-top: 10px;
  padding-left: 7px;
  width: 45px;
  height: 45px;
  font-size: 24px;
  font-weight: $fw-bold;
  line-height: 0.75;
  color: $dark-slate-blue;
  border-radius: 50%;
  border: 3px solid $mango;
}
