.main-nav {
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
}

.main-nav__list {
  @include list-reset;
  @include container;
  padding-top: 48px;
  padding-left: 0;
}

.main-nav__item {
  width: 270px;
  text-align: center;
}

.main-nav__link {
  font-size: 30px;
  font-weight: $fw-medium;
  line-height: 1.2;
  color: $dark-blue-grey;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin-bottom: 153px;
  }

  .main-nav__list {
    @include container-tablet;
    padding-top: 48px;
    padding-left: 57px;
  }

  .main-nav__item {
    width: 368px;
    text-align: left;
  }

  .main-nav__link {
    font-size: 60px;
    line-height: 1.18;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-bottom: 0;
    width: 600px;
  }

  .main-nav__list {
    @include container-desktop;
    display: flex;
    margin-left: 0;
    margin-top: -2px;
    padding-top: 0;
    padding-left: 0;
    width: 630px;
  }

  .main-nav__item {
    display: block;
  }

  .main-nav__link {
    display: block;
    width: 120px;
    min-height: 18px;
    font-size: 20px;
    line-height: 1.5;
    color: $white;
  }
}
