.main-nav {
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
}

.main-nav__list {
  @include list-reset;
  @include container-inside;
  padding-top: 38px;
}

.main-nav__item {
  width: 270px;
  text-align: center;
}

.main-nav__link {
  font-size: 30px;
  font-weight: $fw-medium;
  line-height: 1.2;
  color: $dark-blue-grey;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin-bottom: 153px;
  }

  .main-nav__list {
    @include container-inside-tablet;
    padding-top: 75px;
    padding-left: 57px;
  }

  .main-nav__item {
    width: 368px;
    text-align: left;
  }

  .main-nav__link {
    font-size: 60px;
    line-height: 1.18;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-bottom: 0px;
    width: 426px;
  }

  .main-nav__list {
    @include container-inside-desktop;
    display: flex;
    margin-left: 405px;
    margin-top: -2px;
    padding-top: 0;
    padding-left: 0;
    width: 426px;
  }

  .main-nav__item {
    margin-right: 34px;
  }

  .main-nav__link {
    min-width: 93px;
    font-size: 20px;
    line-height: 1.5;
    color: $white;
  }
}
