.main-inner {
  position: relative;
  background-color: $dark-two;

  &::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 13px;
    background-color: $dark-two;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 11;
  }
}

.main-inner__wrapper {
  @include container;
  padding-top: 22px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 71px;
    left: 25px;
    width: 173px;
    height: 5px;
    border-radius: 2.4px;
    background-color: $mango;
    z-index: 12;
  }

  &--decor {
    &::after {
      content: "";
      position: absolute;
      top: 71px;
      left: 25px;
      width: 213px;
      height: 5px;
      border-radius: 2.4px;
      background-color: $mango;
      z-index: 12;
    }
  }
}

.main-inner__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 1.11;
  color: $white;
}

.main-inner__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-inner {
    &::after {
      top: 169px;
      height: 50px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  .main-inner__wrapper {
    @include container-tablet;
    min-height: 169px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 66px;
    padding-left: 74px;

    &::after {
      top: 215px;
      left: 76px;
      width: 287px;
      height: 8px;
      border-radius: 4px;
    }

    &--decor {
      &::after {
        width: 353px;
      }
    }
  }

  .main-inner__title {
    font-size: 60px;
    width: 290px;
    line-height: 1.17;
  }

  .main-inner__button {
    display: block;
    padding-top: 10px;
    width: 211px;
  }

  .main-inner__link {
    position: relative;
    display: block;
    color: $white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: $fw-bold;
    line-height: 1.2;

    &::after {
      content: url("../img/return.svg");
      position: absolute;
      top: -1px;
      right: 35px;
      width: 32px;
      height: 16px;
    }
  }

  .main-inner__form .main-inner__button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-inner {
    &::after {
      top: 195px;
      height: 56px;
    }
  }

  .main-inner__wrapper {
    @include container-desktop;
    min-height: 195px;
    padding-top: 105px;
    padding-left: 126px;
    padding-right: 89px;

    &::after {
      top: 247px;
      left: 126px;
    }

    &--decor {
      &::after {
        width: 355px;
      }
    }
  }
}
