.main-inner {
  background-color: $dark-two;
}

.main-inner__wrapper {
  @include container;
  padding-top: 22px;
}

.main-inner__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 1.11;
  color: $white;
}

.main-inner__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-inner__wrapper {
    @include container-tablet;
    min-height: 169px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 66px;
    padding-left: 74px;
  }

  .main-inner__title {
    font-size: 60px;
    width: 290px;
    line-height: 1.17;
  }

  .main-inner__button {
    display: block;
    padding-top: 10px;
    width: 211px;
  }

  .main-inner__link {
    display: block;
    color: $white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: $fw-bold;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .main-inner__wrapper {
    @include container-desktop;
    min-height: 195px;
    padding-top: 105px;
    padding-left: 126px;
    padding-right: 89px;
  }
}
