.map {
  padding: 0;
  z-index: -1;
}

.map__wrapper {
  border: 0;
  z-index: -1;
  width: 100%;
  min-height: 320px;
}

@media (min-width: $tablet-width) {
  .map__wrapper {
    min-height: 610px;
  }
}

@media (min-width: $desktop-width) {
  .map__wrapper {
    min-height: 495px;
  }
}
