.menu {
  display: none;
  margin: 0;
  padding: 0;
  background-color: $white;
}

.menu__contact {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.menu__button-wrapper {
  @include container-inside;
  margin-bottom: 67px;
}

.menu__list {
  @include list-reset;
  @include container-inside;
}

.menu__item {
  margin-bottom: 20px;
  padding-top: 4px;
}

.menu__link {
  padding: 0;
  margin: 0;
  padding-left: 62px;
  font-weight: $fw-bold;
  color: $dark-blue-grey;
  text-transform: uppercase;
}

.menu__tel {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -13px;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $dark-blue-grey-two;
  }

  &::after {
    content: "''";
    position: absolute;
    top: 0;
    left: 14px;
    width: 18px;
    height: 18px;
    background-image: url("../img/contacts-phone.svg");
  }
}

.menu__mail {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -13px;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $dark-blue-grey-two;
  }

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 14px;
    width: 18px;
    height: 18px;
    background-image: url("../../img/contacts-mail.svg");
  }
}

@media (min-width: $tablet-width) {
  .menu {
    display: none;
    min-height: 805px;
  }

  .menu__contact {
    margin-bottom: 132px;
  }

  .menu__button-wrapper {
    @include container-inside-tablet;
    display: block;
    position: absolute;
    top: 47px;
    left: 290px;
  }

  .menu__button {
    width: 189px;
    font-size: 20px;
    min-height: 50px;
  }

  .menu__list {
    @include container-inside-tablet;
    padding-left: 55px;
  }

  .menu__item {
    margin-bottom: 35px;
    padding-top: 4px;
  }

  .menu__link {
    font-size: 28px;
    line-height: 1;
    padding-left: 93px;
  }

  .menu__tel {

    &::before {
      top: -18px;
      left: 3px;
      width: 67px;
      height: 67px;
    }

    &::after {
      top: 2px;
      left: 24px;
      width: 27px;
      height: 27px;
    }
  }

  .menu__mail {

    &::before {
      top: -18px;
      left: 3px;
      width: 67px;
      height: 67px;
    }

    &::after {
      top: 5px;
      left: 24px;
      width: 27px;
      height: 19px;
    }
  }

  .menu__social {
    margin: 0;
    margin-left: 55px;
  }
}

@media (min-width: $desktop-width) {
  .menu {
    display: block;
    background-color: $dark-two;
    min-height: 0;
  }

  .page-header__menu-open {
    display: none;
  }

  .menu__contact {
    margin-bottom: 0;
    display: none;
  }

  .menu__social {
    display: none;
  }
}
