.menu {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
  width: 100%;
  z-index: 1000;
  min-height: 500px;
}

.menu__contact {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
}

.menu__button-wrapper {
  margin: 0;
  margin-bottom: 65px;
}

.menu__button {
  margin: 0 auto;
  padding: 18px 24px;
  width: 270px;
  min-height: 50px;
}

.menu__list {
  @include list-reset;
  @include container;
}

.menu__item {
  margin-bottom: 26px;
  padding-left: 25px;
}

.menu__link {
  padding: 0;
  margin: 0;
  padding-left: 36px;
  font-weight: $fw-bold;
  color: $dark-blue-grey;
  text-transform: uppercase;
}

.menu__tel {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -13px;
    left: -25px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $dark-blue-grey-two;
  }

  &::after {
    content: "";
    position: absolute;
    top: 1px;
    left: -11px;
    width: 18px;
    height: 18px;
    background-image: url("../img/contacts-phone.svg");
    background-repeat: no-repeat;
  }
}

.menu__mail {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -13px;
    left: -25px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $dark-blue-grey-two;
  }

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -11px;
    width: 18px;
    height: 14px;
    background-image: url("../img/contacts-mail.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .menu {
    min-height: 778px;
    // top: 132px;
  }

  .menu__wrapper {
    @include container-tablet;
  }

  .menu__contact {
    margin-bottom: 133px;
  }

  .menu__button-wrapper {
    display: none;
  }

  .menu__button {
    width: 189px;
    font-size: 20px;
    min-height: 50px;
  }

  .menu__list {
    @include container-tablet;
    padding-left: 69px;
  }

  .menu__item {
    margin-bottom: 34px;
    padding-top: 4px;
  }

  .menu__link {
    font-size: 28px;
    line-height: 1;
    padding-left: 93px;
  }

  .menu__tel {
    &::before {
      top: -18px;
      left: 3px;
      width: 67px;
      height: 67px;
    }

    &::after {
      top: 2px;
      left: 24px;
      width: 27px;
      height: 27px;
    }
  }

  .menu__mail {
    &::before {
      top: -17px;
      left: 3px;
      width: 67px;
      height: 67px;
    }

    &::after {
      top: 8px;
      left: 24px;
      width: 27px;
      height: 22px;
    }
  }

  .menu__social {
    margin: 0;
    margin-left: 55px;
  }
}

@media (min-width: $desktop-width) {
  .menu {
    min-height: 0;
    top: 35px;
    display: block;
  }

  .menu__wrapper {
    position: relative;
  }

  .menu__contact {
    display: none;
  }

  .menu__social {
    display: none;
  }
}
