.page-header {
  background-color: $dark-two;
}

.page-header__wrapper {
  @include container;
  min-height: 73px;
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 27px;
}

.page-header__menu-open {
  position: absolute;
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 245px;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background-color: $white;
  }

  &::before {
    top: 5px;
  }

  &::after {
    top: 12px;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    background-color: $dark-blue-grey;
  }

  .page-header__wrapper {
    @include container-tablet;
    min-height: 132px;
    padding-top: 41px;
    padding-bottom: 41px;
  }

  .page-header__menu-open {
    &::before {
      top: 20px;
      left: 332px;
    }

    &::after {
      top: 28px;
      left: 332px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-color: $dark-two;
  }

  .page-header__wrapper {
    @include container-desktop;
    min-height: 100px;
    padding-top: 50px;
    padding-bottom: 0;
  }

  .page-header__menu-open {
    display: none;
  }
}
