.page-footer {
  background-color: $white;
}

.page-footer__wrapper {
  @include container;
  min-height: 210px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 320px;
    height: 30px;
    background-color: $white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
}


.page-footer__logo {
  margin: 0 auto;
  margin-bottom: 33px;
  padding-top: 20px;
  width: 100px;
}

.page-footer__social {
  margin-bottom: 47px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.page-footer__text {
  margin: 0;
  line-height: 1.38;
}

.page-footer__link {
  display: block;
  padding-top: 2px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: -30px;
  }

  .page-footer__wrapper {
    @include container-tablet;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 50px;
    background-color: $white;

    &::after {
      top: -45px;
      width: 768px;
      height: 45px;
      border-top-right-radius: 180px;
      border-top-left-radius: 180px;
      background-color: $white;
    }
  }

  .page-footer__logo {
    margin: 0;
    padding-top: 0;
    width: 220px;
  }

  .page-footer__social {
    margin-bottom: 0;
  }

  .page-footer__copyright {
    width: 220px;
  }

  .page-footer__text {
    padding-left: 59px;
    line-height: 1.2;
    font-size: 20px;
  }

  .page-footer__link {
    padding-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    margin-top: 23px;
  }

  .page-footer__wrapper {
    @include container-desktop;
    min-height: 155px;
    padding-top: 42px;

    &::after {
      top: -25px;
      width: 1440px;
      height: 55px;
      border-top-right-radius: 180px;
      border-top-left-radius: 180px;
      background-color: $white;
    }
  }


  .page-footer__text {
    padding-left: 65px;
  }
}
