.pagination {
  padding-bottom: 64px;
  padding-top: 17px;
  background-color: $pale-grey;
}

.pagination__wrapper {
  @include container;
  width: 270px;
  padding: 0;
  min-height: 50px;
  border-radius: 20px;
  background-color: $white;
}

.pagination__list {
  display: none;
}

.pagination__wrapper-bottom {
  position: relative;
  width: 270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 135px;
    width: 1px;
    height: 50px;
    background-color: $pale-grey;
  }
}

.pagination__back,
.pagination__next {
  position: relative;
  display: block;
  width: 135px;
  min-height: 50px;

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 63px;
    width: 10px;
    height: 25px;
  }
}

.pagination__back {
  &::after {
    content: url("../img/triangle-arrow-left.svg");
  }
}

.pagination__next {
  &::after {
    content: url("../img/triangle-arrow-right.svg");
  }
}

@media (min-width: $tablet-width) {
  .pagination {
    padding-bottom: 136px;
    padding-top: 36px;
  }

  .pagination__wrapper {
    @include container-tablet;
    padding-left: 27px;
    padding-right: 33px;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    width: 688px;
  }

  .pagination__list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    min-width: 200px;
  }

  .pagination__item {
    text-align: center;
  }

  .pagination__link {
    display: block;
    padding-top: 13px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: $dark-two;
    font-weight: $fw-bold;

    &--active {
      background-color: $light-gold;
      border-radius: 50%;
    }
  }

  .pagination__wrapper-bottom {
    width: 55px;
    margin: 0;


    &::after {
      display: none;
    }

    .pagination__back,
    .pagination__next {
      position: relative;
      display: block;
      width: 27px;
      min-height: 50px;

      &::after {
        top: 42px;
        width: 10px;
        height: 25px;
      }
    }

    .pagination__back {
      &::after {
        left: 0;
      }
    }

    .pagination__next {
      &::after {
        left: 15px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    .pagination {
      padding-bottom: 131px;
      padding-top: 73px;
    }

    .pagination__wrapper {
      @include container-desktop;
      padding-left: 27px;
      padding-right: 33px;
      width: 950px;
    }

    .pagination__wrapper-bottom {
      width: 90px;

      .pagination__back,
      .pagination__next {
        width: 35px;

        &::after {
          top: 42px;
        }
      }

      .pagination__back {
        &::after {
          left: 25px;
        }
      }

      .pagination__next {
        &::after {
          left: -4px;
        }
      }
    }
  }
}
