.plans {
  position: relative;
  background-color: $pale-grey-two;

  &::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 0;
    width: 100%;
    height: 18px;
    background-color: $pale-grey-two;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.plans__title {
  @include container;
  margin-bottom: 30px;
  padding-top: 8px;
}

.plans__list {
  @include list-reset;
  @include container;
  padding-bottom: 40px;
}

.plans__item {
  margin-bottom: 10px;
  padding: 22px 24px;
  border-radius: 10px;
  background-color: $white;
}

.plans__country {
  margin: 0;
  margin-bottom: 21px;
  font-weight: $fw-bold;
  line-height: 1;
  color: $dark-slate-blue;
}

.plans__companions,
.plans__date {
  margin: 0;
  font-size: 14px;
  font-weight: $fw-medium;
  line-height: 1;
  letter-spacing: 1.4px;
  color: $dark-slate-blue;
  text-transform: uppercase;
}

.plans__companions {
  margin-bottom: 4px;
}

.plans__date {
  margin-bottom: 21px;
}

.plans__button {
  line-height: 1.29;
  letter-spacing: 0.5px;
  font-weight: $fw-medium;
  text-transform: uppercase;
  color: $black;
  opacity: 0.3;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: $tablet-width) {
  .plans {
    &::before {
      top: -25px;
      height: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
    }
  }

  .plans__title {
    @include container-tablet;
    margin-bottom: 45px;
    padding-top: 22px;
    padding-left: 75px;
    font-size: 36px;
    line-height: 1.39;
  }

  .plans__list {
    @include container-tablet;
    padding: 0;
    padding-left: 2px;
    padding-bottom: 89px;
    width: 621px;
    min-height: 155px;
  }

  .plans__item {
    margin-bottom: 10px;
    padding: 37px 33px 17px 33px;
  }

  .plans__country {
    position: relative;
    margin-bottom: 55px;
    padding-left: 3px;
    font-size: 24px;

    span {
      position: absolute;
      right: -3px;
      top: 3px;
      font-size: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      left: -32px;
      top: 60px;
      width: 619px;
      height: 1px;
      opacity: 0.3;
      background-color: $cloudy-blue;
    }
  }

  .plans__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .plans__companions,
  .plans__date {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .plans__companions {
    min-width: 140px;
  }

  .plans__button {
    margin-left: 33px;
    min-width: 104px;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;
  }
}

@media (min-width: $desktop-width) {
  .plans {
    &::before {
      top: -43px;
      height: 43px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
    }
  }

  .plans__title {
    @include container-desktop;
    margin-bottom: 45px;
    padding-top: 3px;
    padding-left: 131px;
  }

  .plans__list {
    @include container-desktop;
    padding: 0;
    padding-left: 123px;
    padding-bottom: 90px;
  }

  .plans__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 35px 33px 17px 33px;
    width: 1256px;
    min-height: 97px;
  }

  .plans__country {
    margin-bottom: 0;
    padding-left: 10px;

    span {
      position: relative;
      padding-right: 30px;
      right: 0;
      top: 0;
    }

    &::after {
      display: none;
    }
  }

  .plans__wrapper {
    padding-top: 5px;
    width: 595px;
  }

  .plans__button {
    margin-left: 91px;
    margin-right: 5px;
    min-width: 103px;
  }
}
