.pop-up-choose {
  position: absolute;
  left: 6px;
  top: 40px;
  display: block;
  margin: 0 auto;
  background-color: $white;
  z-index: 100;
  min-height: 472px;
  width: 220px;
}

.pop-up-choose__list {
  @include list-reset;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 220px;
}

.pop-up-choose__item {
  display: block;
  width: 44px;
  height: 41px;
}

.pop-up-choose__link {
  display: block;
  width: 44px;
  height: 41px;
  border: 1px solid $cloudy-blue;
  background-color: $white;
  padding-top: 10px;
  padding-left: 5px;
  font-weight: $fw-medium;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-align: center;
  color: $dark-blue-grey;
  text-transform: uppercase;

  &--active {
    padding-top: 11px;
    padding-left: 4px;
    background-color: $pale-grey;
    color: $dark-slate-blue;
  }
}

.pop-up-choose-country__list {
  @include list-reset;
  position: relative;
  padding-top: 11px;
  min-height: 270px;
  width: 220px;
  border: 1px solid $cloudy-blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pop-up-choose-country__item {
  margin-left: 19px;
}

.pop-up-choose-country__link {
  font-size: 16px;
  font-weight: $fw-normal;
  line-height: 1.38;
  color: $greyish-brown;
}

@media (min-width: $tablet-width) {
  .pop-up-choose {
    position: absolute;
    left: 0;
    top: 70px;
    display: flex;
    justify-content: space-between;
    width: 575px;
    min-height: 400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 20px 50px 0 $cloudy-blue;
  }

  .pop-up-choose__list {
    padding-left: 26px;
    padding-top: 33px;
    margin-bottom: 33px;
    width: 299px;
  }

  .pop-up-choose__item {
    width: 53px;
    height: 70px;
  }

  .pop-up-choose__link {
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-left: 0;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;

    &--active {
      padding-top: 25px;
      padding-left: 4px;
      background-color: $dark-slate-blue;
      color: $white;
    }
  }

  .pop-up-choose-country__list {
    position: relative;
    padding-top: 31px;
    min-height: 270px;
    width: 200px;
    border: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -8px;
      width: 1px;
      height: 416px;
      opacity: 0.5;
      background-color: $cloudy-blue;
    }
  }

  .pop-up-choose-country__link {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .pop-up-choose {
    top: 72px;
    width: 730px;
    min-height: 405px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    &::after {
      content: url("../img/small-cross.svg");
      position: absolute;
      right: -265px;
      top: -46px;
      width: 17px;
      height: 17px;
      opacity: 0.1;
    }
  }

  .pop-up-choose__list {
    padding-left: 28px;
    padding-top: 33px;
    margin-bottom: 15px;
    width: 410px;
  }

  .pop-up-choose__item {
    width: 60px;
    height: 70px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .pop-up-choose__link {
    border-radius: 4px;
    padding-left: 5px;
  }

  .pop-up-choose-country__list {
    padding-top: 29px;
    min-height: 270px;
    width: 237px;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: -8px;
    //   width: 1px;
    //   height: 476px;
    //   opacity: 0.5;
    // }
  }
}
