.rates {
  background-color: $pale-grey;
}

.rates__wrapper {
  @include container;
  position: relative;
  padding-left: 50px;
  min-height: 451px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 29px;
    background-color: $dark-blue-grey;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

.rates__title {
  margin: 0;
  margin-bottom: 55px;
  padding-top: 80px;
  width: 101px;
  font-size: 24px;
  font-weight: $fw-bold;
  line-height: 1;
  color: $mango;
}

.rates__list {
  @include list-reset;
  margin-bottom: 40px;
  width: 183px;
}

.rates__item {
  margin-bottom: 22px;
}

.rates__proposition {
  margin: 0;
  line-height: 1.38;
}

.rates__button {
  font-weight: $fw-bold;
  color: $dark-blue-grey;
}

@media (min-width: $tablet-width) {
  .rates__wrapper {
    @include container-tablet;
    padding-left: 130px;
    min-height: 556px;
    &::after {
      width: 768px;
      height: 80px;
      border-bottom-right-radius: 60px;
      border-bottom-left-radius: 60px;
    }
  }

  .rates__title {
    margin-bottom: 91px;
    padding-top: 150px;
    padding-left: 16px;
    width: 500px;
    font-size: 45px;
  }

  .rates__list {
    margin-bottom: 76px;
    width: 563px;
  }

  .rates__item {
    margin-bottom: 33px;
  }

  .rates__proposition {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    line-height: 1.18;

    span {
      display: block;
    }
  }

  .rates__button {
    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .rates__wrapper {
    @include container-desktop;
    min-height: 738px;
    padding-left: 186px;
    &::after {
      width: 1440px;
      height: 44px;
      border-bottom-right-radius: 180px;
      border-bottom-left-radius: 180px;
    }
  }

  .rates__title {
    margin: 0 auto;
    margin-bottom: 152px;
    padding-top: 145px;
    width: 635px;
  }

  .rates__list {
    width: 850px;
    padding-left: 35px;
  }
  .rates__button{
    padding-left: 34px;
  }
}
