.rates {
  position: relative;
  background-color: $pale-grey;

  &::after {
    content: "";
    position: absolute;
    bottom: -29px;
    left: 0;
    width: 100%;
    height: 29px;
    background-color: $pale-grey;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 1;
  }
}

.rates__wrapper {
  @include container;
  padding-left: 50px;
  min-height: 451px;
}

.rates__title {
  position: relative;
  margin: 0;
  margin-bottom: 55px;
  padding-top: 80px;
  width: 101px;
  font-size: 24px;
  font-weight: $fw-bold;
  line-height: 1;
  color: $mango;

  &::after {
    content: "";
    position: absolute;
    top: 66px;
    right: -142px;
    width: 99px;
    height: 99px;
    background-image: url("../img/rates@1x.png");
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/rates@2x.png");
      background-size: 99px auto;
    }
  }
}

.rates__list {
  @include list-reset;
  margin-bottom: 40px;
  width: 183px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -12px;
    width: 200px;
    height: 1px;
    opacity: 0.05;
    background-color: $black;
  }
}

.rates__item {
  margin-bottom: 22px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    width: 200px;
    height: 1px;
    opacity: 0.05;
    background-color: $black;
  }
}

.rates__proposition {
  margin: 0;
  line-height: 1.38;
  position: relative;

  &--1 {
    &::before {
      content: "1";
      position: absolute;
      top: 0;
      right: -48px;
      font-size: 16px;
      color: $white;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: -7px;
      right: -61px;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: $mango-three;
    }
  }

  &--2 {
    &::before {
      content: "2";
      position: absolute;
      top: 0;
      right: -48px;
      font-size: 16px;
      color: $white;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: -7px;
      right: -61px;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: $mango-two;
    }
  }

  &--3 {
    &::before {
      content: "3";
      position: absolute;
      top: 0;
      right: -48px;
      font-size: 16px;
      color: $white;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: -7px;
      right: -61px;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: $light-gold;
    }
  }
}

.rates__button {
  font-weight: $fw-bold;
  color: $dark-blue-grey;
}

@media (min-width: 320px) and (min-resolution: 144dpi), (min-width: 320px) and (min-resolution: 1.5dppx) {
  .rates__title {
    &::after {
      background-image: url("../img/rates@2x.png");
      background-size: 99px auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .rates {
    &::after {
      bottom: -81px;
      height: 83px;
      border-bottom-right-radius: 80px;
      border-bottom-left-radius: 80px;
    }
  }

  .rates__wrapper {
    @include container-tablet;
    position: relative;
    padding-left: 130px;
    min-height: 556px;
    z-index: 100;

    &::before {
      content: "";
      position: absolute;
      bottom: 40px;
      right: 40px;
      width: 198px;
      height: 285px;
      border-radius: 20px;
      background-color: $pale-grey-four;
    }
  }

  .rates__title {
    margin-bottom: 91px;
    padding-top: 150px;
    padding-left: 16px;
    width: 500px;
    font-size: 45px;

    &::after {
      top: 488px;
      right: -52px;
      width: 99px;
      height: 99px;
      z-index: 10;
    }
  }

  .rates__list {
    margin-bottom: 76px;
    width: 563px;

    &::before {
      top: -14px;
      width: 562px;
    }
  }

  .rates__item {
    margin-bottom: 33px;

    &::after {
      bottom: -20px;
      width: 562px;
    }
  }

  .rates__proposition {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    line-height: 1.18;

    &--1,
    &--2,
    &--3 {
      &::before {
        top: 3px;
        left: -64px;
        font-size: 28px;
      }

      &::after {
        top: -14px;
        left: -90px;
        width: 67px;
        height: 67px;
      }
    }
  }

  .rates__button {
    position: relative;
    font-size: 20px;
    line-height: 1;

    &::before {
      content: url("../img/business.svg");
      position: absolute;
      left: -65px;
      width: 17px;
      height: 21px;
      z-index: 11;
    }

    &::after {
      content: "";
      position: absolute;
      left: -90px;
      top: -19px;
      width: 67px;
      height: 67px;
      border-radius: 50%;
      background-color: $pale-grey-four;
      z-index: 10;
    }
  }
}


@media (min-width: $desktop-width) {
  .rates {
    &::after {
      bottom: -55px;
      height: 55px;
    }
  }

  .rates__wrapper {
    @include container-desktop;
    min-height: 738px;
    padding-left: 186px;

    &::before {
      bottom: 160px;
      right: 245px;
      width: 444px;
      height: 300px;
    }
  }

  .rates__title {
    margin: 0 auto;
    margin-bottom: 152px;
    padding-top: 145px;
    width: 635px;

    &::after {
      top: 328px;
      right: -205px;
      width: 198px;
      height: 198px;
      z-index: 10;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/rates@2x.png");
        background-size: 198px auto;
      }
    }
  }

  .rates__list {
    width: 850px;
    padding-left: 35px;

    &::before {
      width: 820px;
    }
  }

  .rates__item {
    &::after {
      width: 820px;
    }
  }

  .rates__button {
    padding-left: 34px;

    &::before {
      left: -30px;
    }

    &::after {
      left: -56px;
    }
  }
}

@media (min-width: 1440px) and (min-resolution: 144dpi), (min-width: 1440px) and (min-resolution: 1.5dppx) {
  .rates__title {
    &::after {
      background-image: url("../img/rates@2x.png");
      background-size: 198px auto;
    }
  }
}
