.rates {
  @include container;
  padding: 0;
  min-height: 451px;
  background-color: $pale-grey;
}

.rates__wrapper {
  @include container-inside;
  padding-left: 24px;
}

.rates__title {
  margin: 0;
  margin-bottom: 55px;
  padding-top: 50px;
  width: 101px;
  font-size: 24px;
  font-weight: $fw-bold;
  line-height: 1;
  color: $mango;
}

.rates__list {
  @include list-reset;
  margin-bottom: 40px;
  width: 183px;
}

.rates__item {
  margin-bottom: 22px;
}

.rates__proposition {
  margin: 0;
  line-height: 1.38;
}

.rates__button {
  font-weight: $fw-bold;
  color: $dark-blue-grey;
}

@media (min-width: $tablet-width) {
  .rates {
    @include container-tablet;
    min-height: 556px;
  }

  .rates__wrapper {
    @include container-inside-tablet;
    padding-left: 90px;
  }

  .rates__title {
    margin-bottom: 91px;
    padding-top: 70px;
    padding-left: 16px;
    width: 500px;
    font-size: 45px;
  }

  .rates__list {
    margin-bottom: 76px;
    width: 563px;
  }

  .rates__item {
    margin-bottom: 33px;
  }

  .rates__proposition {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    line-height: 1.18;

    span {
      display: block;
    }
  }

  .rates__button {
    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .rates {
    @include container-desktop;
    min-height: 750px;
  }

  .rates__wrapper {
    @include container-inside-desktop;
    padding-left: 160px;
  }

  .rates__title {
    margin: 0 auto;
    margin-bottom: 152px;
    padding-top: 103px;
    padding-left: 0px;
    width: 635px;
  }

  .rates__list {
    width: 815px;
  }
}
