.route {
  @include container-inside;
}

.route__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;

  &:last-child {
    margin-bottom: 25px;
  }
}

.roude__country {
  margin: 0;
  padding: 12px;
  border: none;
  border-radius: 4px;
  // border: solid 1px $cloudy-blue;
  background-color: transparent;
}
