.term-calendar__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  min-height: 40px;
  border-top: solid 1px $cloudy-blue;
  border-bottom: solid 1px $cloudy-blue;
}

.term-calendar__title {
  margin: 0;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: $fw-bold;
  line-height: 1;
  text-align: center;
  color: $dark-slate-blue;
}

.term-calendar__button-minus,
.term-calendar__button-plus {
  background-color: transparent;
  border: none;
}

@media (min-width: $tablet-width) {
  .term-calendar__wrapper {
    margin-bottom: 30px;
    min-height: 87px;
    min-width: 530px;
  }

  .term-calendar__title {
    padding-left: 0;
    padding-top: 25px;
    font-size: 36px;
  }

  .term-calendar__button-minus,
  .term-calendar__button-plus {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .term-calendar {
    display: flex;
    flex-wrap: wrap;
  }

  .term-calendar__wrapper {
    margin-bottom: 10px;
    width: 1000px;
    min-height: 87px;
  }
}
