.travel-mates {
  position: relative;
  background-color: $dark-blue-grey;

  &::after {
    content: "";
    position: absolute;
    bottom: -29px;
    left: 0;
    width: 100%;
    height: 29px;
    background-color: $dark-blue-grey;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    z-index: 1;
  }
}

.travel-mates__wrapper {
  @include container;
  position: relative;
  min-height: 1322px;
  z-index: 100;

  &::after {
    content: "";
    position: absolute;
    top: 65px;
    left: 0;
    width: 113px;
    height: 132px;
    border-top-right-radius: 20px;
    background-color: $dark-blue-grey-four;
    z-index: -10;
  }

  &::before {
    content: "";
    position: absolute;
    top: 68px;
    right: 25px;
    width: 143px;
    height: 143px;
    background-image: url("../img/smolov-back-desktop@1x.png");
    background-repeat: no-repeat;
    z-index: -10;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/smolov-back-desktop@2x.png");
      background-size: 143px auto;
    }
  }
}

.travel-mates__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 24px;
  padding-top: 99px;
  font-size: 24px;
  font-weight: $fw-bold;
  line-height: 1;
  color: $mango;
}

.travel-mates__description {
  margin: 0;
  padding: 0;
  margin-left: 24px;
  margin-bottom: 20px;
  width: 215px;
  line-height: 1.38;
  color: $white;
}

.travel-mates__slogan {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 24px;
  margin-bottom: 58px;
  width: 192px;
  line-height: 1.38;
  color: $white;
  z-index: 100;
}

.travel-mates__list {
  position: relative;
  z-index: 100;

  &::before {
    content: "";
    position: absolute;
    top: -35px;
    left: -25px;
    width: 60px;
    height: 70px;
    background-image: url("../img/rogovaya-back-mobile@1x.png");
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    z-index: -10;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/rogovaya-back-mobile@2x.png");
      background-size: 60px auto;
    }
  }
}

@media (min-width: 320px) and (min-resolution: 144dpi), (min-width: 320px) and (min-resolution: 1.5dppx) {
  .travel-mates__wrapper {
    &::before {
      background-image: url("../img/smolov-back-desktop@2x.png");
      background-size: 143px auto;
    }
  }

  .travel-mates__list {
    &::before {
      background-image: url("../img/rogovaya-back-mobile@2x.png");
      background-size: 60px auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .travel-mates {
    &::after {
      bottom: -81px;
      height: 83px;
      border-bottom-right-radius: 80px;
      border-bottom-left-radius: 80px;
    }
  }

  .travel-mates__wrapper {
    @include container-tablet;
    min-height: 1255px;
    padding-top: 81px;

    &::after {
      top: 160px;
      left: 40px;
      width: 213px;
      height: 213px;
      border-radius: 20px;
    }

    &::before {
      top: 160px;
      right: 75px;
      width: 285px;
      height: 285px;
      background-image: url("../img/rogovaya-back-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/rogovaya-back-desktop@2x.png");
        background-size: 285px auto;
      }
    }
  }

  .travel-mates__title {
    margin-bottom: 56px;
    margin-left: 32px;
    padding-top: 138px;
    font-size: 45px;
  }

  .travel-mates__description {
    margin-left: 35px;
    margin-bottom: 43px;
    width: 425px;
    font-size: 28px;
    line-height: 1.18;
  }

  .travel-mates__slogan {
    margin-left: 35px;
    margin-bottom: 59px;
    font-size: 21px;
    width: 252px;
    line-height: 1.19;
    position: relative;
  }

  .travel-mates__list {
    &::before {
      display: none;
      top: -95px;
      left: 0;
      width: 143px;
      height: 143px;
      background-image: url("../img/smolov-back-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/smolov-back-desktop@2x.png");
        background-size: 143px auto;
      }
    }
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .travel-mates__wrapper {
    &::before {
      background-image: url("../img/rogovaya-back-desktop@2x.png");
      background-size: 285px auto;
    }
  }

  .travel-mates__list {
    &::before {
      background-image: url("../img/smolov-back-desktop@2x.png");
      background-size: 143px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .travel-mates {
    &::after {
      bottom: -42px;
      height: 43px;
    }
  }

  .travel-mates__wrapper {
    @include container-desktop;
    display: flex;
    justify-content: space-between;
    min-height: 730px;

    &::after {
      top: 125px;
      left: 60px;
    }

    &::before {
      top: 440px;
      left: 190px;
    }
  }

  .travel-mates__title {
    margin-left: 70px;
    padding-top: 181px;
    margin-bottom: 58px;
  }

  .travel-mates__description {
    margin-left: 70px;
  }

  .travel-mates__slogan {
    margin-left: 70px;
  }

  .travel-mates__list {
    &::before {
      display: block;
      top: 190px;
      left: -205px;
    }
  }
}
