.travel-mates-profile__list {
  @include list-reset;
  margin: 0 auto;
  margin-bottom: 20px;
}

.travel-mates-profile__item {
  margin-bottom: 10px;
}

.travel-mates-profile__img-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  height: 270px;
}

.travel-mates-profile__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.travel-mates-profile__wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 157px;
  background-color: $white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.travel-mates-profile__level {
  position: absolute;
  top: -255px;
  left: 17px;
  width: 60px;
  height: 60px;
  background-color: rgba($color: $black, $alpha: 0.6);
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-size: cover;
  }

  &--99::before {
    background-image: url("../img/bar-99-tablet.png");
  }

  &--80::before {
    background-image: url("../img/bar-80-tablet.png");
  }
}

.travel-mates-profile__number {
  position: relative;
  padding-top: 12px;
  padding-left: 16px;
  margin: 0;
  margin-bottom: -2px;
  font-size: 24px;
  font-weight: $fw-bold;
  color: $white;

  &::after {
    content: "";
    position: absolute;
    top: 37px;
    left: 14px;
    width: 31px;
    height: 1px;
    opacity: 0.3;
    background-color: $white;
  }
}

.travel-mates-profile__title {
  padding-left: 17px;
  margin: 0;
  font-size: 14px;
  color: $white;
  text-transform: lowercase;
}

.travel-mates-profile__flag-list {
  @include list-reset;
  display: flex;
}

.travel-mates-profile__flag-item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -11px;
    width: 35px;
    height: 24px;
    background-size: cover;
  }

  &--flag-sri-lanka::before {
    background-image: url("../img/flag-sri-lanka.svg");
    left: 63px;
  }

  &--flag-thailand::before {
    background-image: url("../img/flag-thailand.svg");
    left: 117px;
  }

  &--flag-seychelles::before {
    background-image: url("../img/flag-seychelles.svg");
    left: 170px;
  }

  &--flag-belgium::before {
    background-image: url("../img/flag-belgium.svg");
    left: 90px;
  }

  &--flag-czech::before {
    background-image: url("../img/flag-czech.svg");
    left: 142px;
  }
}

.travel-mates-profile__user-name {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 14px;
  padding-top: 22px;
  width: 180px;
  font-size: 21px;
  font-weight: $fw-bold;
  color: $dark-slate-blue;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 33px;
    left: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  &--off::before {
    background-color: $salmon;
  }

  &--on::before {
    background-color: $green-apple;
    left: 18px;
  }
}

.travel-mates-profile__tags {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 180px;
  text-align: center;
  line-height: 1.13;
}

.travel-mates-profile__show-all {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-left: 23px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: $fw-bold;
  color: $dark-slate-blue;
  background-color: $light-gold;
  border-radius: 10px;

  &::after {
    content: url("../img/triangle-arrow-right.svg");
    position: absolute;
    top: 21px;
    right: 24px;
    width: 10px;
    height: 14px;
  }
}

@media (min-width: $tablet-width) {
  .travel-mates-profile__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
    margin-bottom: 70px;
  }

  .travel-mates-profile__item {
    margin-bottom: 10px;
  }

  .travel-mates-profile__img-wrapper {
    min-height: 285px;
  }

  .travel-mates-profile__img {
    width: 285px;
    height: 285px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .travel-mates-profile__wrapper {
    width: 285px;
    min-height: 198px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .travel-mates-profile__level {
    top: -265px;
    left: 21px;
  }

  .travel-mates-profile__flag-item {
    &--flag-sri-lanka::before {
      left: 73px;
    }

    &--flag-thailand::before {
      left: 127px;
    }

    &--flag-seychelles::before {
      left: 180px;
    }

    &--flag-belgium::before {
      left: 100px;
    }

    &--flag-czech::before {
      left: 152px;
    }
  }

  .travel-mates-profile__user-name {
    margin-bottom: 21px;
    padding-top: 30px;
    line-height: 1;
    font-size: 24px;

    &::before {
      top: 39px;
      left: -5px;
      width: 7px;
      height: 7px;
    }

    &--on::before {
      left: 3px;
    }
  }

  .travel-mates-profile__tags {
    margin-bottom: 15px;
    width: 230px;
    font-size: 20px;
    line-height: 1.2;
  }

  .travel-mates-profile__list-transport {
    margin: 0 auto;
    width: 130px;
  }

  .travel-mates-profile__show-all {
    margin: 0 auto;
    width: 618px;
    min-height: 81px;
    padding-top: 29px;
    padding-left: 33px;
    font-size: 24px;
    line-height: 1;
    border-radius: 20px;

    &::after {
      top: 28px;
      right: 35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .travel-mates-profile__list {
    margin-top: 190px;
    width: 630px;
    margin-bottom: 0;
  }

  .travel-mates-profile__level {
    top: -265px;
    left: 23px;
  }

  .travel-mates-profile__flag-item {
    &::before {
      top: -13px;
    }

    &--flag-sri-lanka::before {
      left: 71px;
    }

    &--flag-thailand::before {
      left: 126px;
    }

    &--flag-seychelles::before {
      left: 179px;
    }

    &--flag-belgium::before {
      left: 99px;
    }

    &--flag-czech::before {
      left: 151px;
    }
  }

  .travel-mates-profile__show-all {
    position: relative;
    left: -795px;
    top: -92px;
    width: 280px;
  }
}
