.users {
  @include container;
  padding: 0;
  padding-top: 27px;
  background-color: $pale-grey;
}

.users__wrapper {
  @include container-inside;
  padding: 0;
}

.users__list {
  @include list-reset;
}

.users__item {
  margin: 0 auto;
  margin-bottom: 10px;
  padding-bottom: 22px;
  width: 270px;
  border-radius: 20px;
  background-color: $white;
}

.users__top-wrapper {
  display: flex;
  padding-top: 15px;
  margin-bottom: 9px;
}

.users__img-wrapper {
  display: block;
  margin-right: 16px;
  padding-left: 18px;
}

.users__img {
  border-radius: 50%;
}

.users__name {
  margin: 0;
  margin-bottom: 5px;
  width: 80px;
  font-size: 20px;
  font-weight: $fw-bold;
  line-height: 1;
  color: $dark-slate-blue;
}

.users__popular {
  margin: 0;
  color: $dark-two;
  font-size: 14px;
  font-weight: $fw-bold;
  line-height: 1.5;
}

.users__tags {
  margin: 0;
  margin-bottom: 13px;
  padding-left: 26px;
  width: 220px;
  font-size: 15px;
  line-height: 1.2;
}

.users__future-travel {
  padding-left: 26px;
}

.users__wrapper-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.users__transport {
  margin: 0;
  padding-left: 26px;
}

.users__level {
  padding-right: 17px;
  padding-top: 2px;
  margin: 0;
}

.users__button {
  margin: 0 auto;
  width: 230px;
}
