.users {
  padding-top: 27px;
  background-color: $pale-grey;
}

.users__wrapper {
  @include container;
}

.users__list {
  @include list-reset;
}

.users__item {
  margin: 0 auto;
  margin-bottom: 10px;
  padding-bottom: 22px;
  width: 270px;
  border-radius: 20px;
  background-color: $white;
}

.users__top-wrapper {
  position: relative;
  display: flex;
  padding-top: 15px;
  margin-bottom: 9px;
}

.users__img-wrapper {
  display: block;
  margin-right: 16px;
  padding-left: 18px;
}

.users__img {
  border-radius: 50%;
}

.users__name {
  margin: 0;
  margin-bottom: 5px;
  width: 80px;
  font-size: 20px;
  font-weight: $fw-bold;
  line-height: 1;
  color: $dark-slate-blue;
}

.users__popular {
  position: absolute;
  top: 60px;
  left: 105px;
  margin: 0;
  color: $dark-two;
  font-size: 14px;
  font-weight: $fw-bold;
  line-height: 1.5;
}

.users__tags {
  margin: 0;
  margin-bottom: 13px;
  padding-left: 26px;
  width: 220px;
  font-size: 15px;
  line-height: 1.2;
}

.users__future-travel {
  padding-left: 26px;
}

.users__wrapper-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 14px;
}

.users__transport {
  margin: 0;
  padding-left: 26px;
}

.users__level {
  padding-right: 17px;
  padding-top: 2px;
  margin: 0;
}

.users__button {
  margin: 0 auto;
  width: 230px;
}

@media (min-width: $tablet-width) {
  .users {
    padding-top: 39px;
  }

  .users__wrapper {
    @include container-tablet;
  }

  .users__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding-top: 32px;
    padding-bottom: 0;
    padding-left: 18px;
    padding-right: 25px;
    width: 688px;
    min-height: 332px;
  }

  .users__top-wrapper {
    padding-top: 0;
    margin-bottom: 0;
  }

  .users__img-wrapper {
    padding-top: 5px;
    margin-right: 32px;
  }

  .users__img {
    border-radius: 10%;
    width: 190px;
    height: 190px;
  }

  .users__name {
    margin-bottom: 0;
    width: 300px;
    font-size: 30px;
  }

  .users__popular {
    top: 153px;
    left: 443px;
    margin: 0;
    font-size: 20px;
    width: 50px;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -56px;
      width: 50px;
      height: 50px;
      background-color: #f9eaea;
      border-radius: 50%;
    }
  }

  .users__tags {
    margin-bottom: 0;
    position: absolute;
    top: 80px;
    left: 260px;
    padding-left: 0;
    width: 230px;
    font-size: 20px;
  }

  .users__future-travel {
    padding-left: 20px;
    width: 630px;
  }

  .users__wrapper-bottom {
    position: absolute;
    right: 25px;
    top: 31px;
    margin-bottom: 0;
    width: 60px;
  }

  .users__transport {
    margin: 0;
    margin-bottom: 15px;
    padding-left: 11px;
  }

  .users__transport .transport-info__title {
    display: none;
  }

  .users__transport .transport-info__list {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
  }

  .users__transport .transport__item {
    background-color: transparent;
    margin-bottom: -12px;
  }

  .users__level {
    padding-right: 0;
    padding-top: 0;
    margin: 0;
  }

  .users__button {
    position: absolute;
    top: 175px;
    left: 255px;
    margin: 0 auto;
    padding-top: 13px;
    padding-left: 30px;
    width: 150px;
    min-height: 50px;
    font-size: 20px;
  }

  .users__button-more {
    position: relative;
    top: -3px;
    left: 26px;
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .users {
    padding-top: 0;
  }

  .users__wrapper {
    margin: 0;
    padding: 0;
    width: 950px;
  }

  .users__top-wrapper {
    width: 660px;
  }

  .users__item {
    margin-bottom: 30px;
    padding: 0;
    width: 950px;
    min-height: 285px;
  }

  .users__img-wrapper {
    display: block;
    margin-right: 40px;
    padding-left: 0;
    padding-top: 0;
    width: 285px;
    height: 285px;
  }

  .users__img {
    border-radius: 0%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 285px;
    height: 285px;
  }

  .users__name {
    margin-top: 45px;
    margin-left: 20px;
  }

  .users__popular {
    top: 198px;
    left: 546px;
  }

  .users__tags {
    top: 93px;
    left: 348px;
  }

  .users__future-travel {
    padding-left: 22px;
    width: 250px;
  }

  .users__wrapper-bottom {
    right: 45px;
    top: 180px;
    width: 243px;
  }

  .users__transport {
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 10px;
  }

  .users__transport .transport-info__list {
    width: 170px;
  }

  .users__transport .transport__item {
    margin-bottom: 0;
    width: 35px;
  }

  .users__button {
    top: 188px;
    left: 340px;
  }

  .users__button-more {
    top: 24px;
    left: -7px;
  }
}
