@mixin container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
}

@mixin container-tablet {
  width: 768px;
  margin: 0 auto;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
}

@mixin container-desktop {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  padding-left: 60px;
  padding-right: 60px;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

$tablet-width: 768px;
$desktop-width: 1440px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;

$greyish-brown: #444444;
$steel-grey: #808285;
$black: #000000;
$white: #ffffff;
$orange-red: #ff5c23;
$orange:#f26926;
$mango: #ff8d30;
$mango-three: #ffa530;
$mango-two: #ffbd30;
$light-gold: #ffd74b;
$light-gold-two:#f3c72b;
$salmon: #f97676;
$green-apple: #81e31e;
$dark-two: #161c35;
$dark-blue-grey: #192144;
$dark-blue-grey-two :#121936;
$dark-blue-grey-four: #141b3b;
$light-navy:#132576;
$dark-slate-blue: #1d2e5b;
$dark-slate-blue-two:#101d41;
$cloudy-blue: #cbced9;
$cloudy-blue-two:#959bb2;
$pinkish-grey:#cccccc;
$pale-grey: #edeff6;
$pale-grey-two: #dfe3f0;
$pale-grey-four: #e2e5f2;
$pale-grey-five: #f3f4f8;
$light-blue-grey-two:#d1d7e9;
$light-blue-grey-three: #d6daed;
$light-blue-grey-five: #d4d9eb;
$light-periwinkle:#d6daed;
$very-light-pink-two:#f9eaea;
